<!DOCTYPE html>
<html>

<head>
	{{> head}}
</head>

<body>

<div class='main'>
	{{> navbar}}
	<div class="container">
		<div class="title-container">
			<img src='../images/me.png' class='title'/>
			<a href="#about-bg">
				<div class='scroll-direction'>
					<img src='../images/down-arrows.png' class='arrow'/>
				</div>
			</a>
		</div>

		<div class="proj-container">
			<div class='proj-container-bg' id='about-bg'></div>
			<div class='proj-container-contents' id='proj1-contents'>
			<p>Hello hello! Welcome to my little portfolio. My full name, Alexandra Pacheco de Sousa, is not so little, however, so I prefer to go by Alexie Sousa. Art, apples, a cappella and alpacas are some of my favorite things. My sweet tooth is a force to be reckoned with; very few foods are too sweet for me. I'm well versed in cartoon illustration and Adobe Photoshop , with some experience working with Adobe Illustrator, Adobe After Effects, Adobe InDesign, and Autodesk Maya. As for coding, I'm all about the frontend, having working knowledge of HTML, CSS, JavaScript, and jQuery. I am interested in pursuing a career in graphic, user experience or user interface design. I enjoy doing all three and am always searching out new ways to learn and improve. Feel free to shoot me a message if you have any questions or comments! Thanks for popping by for a peek at my portfolio.</br></br>
			Cheers!</br>
			Alexie</p></br></br>
			<p>Email: alexie828@gmail.com</p></br>
			<a target='_blank' href='https://alexiesousa.carbonmade.com/' class='button'>See Graphics Portfolio</a>
			</div>
		</div>
		<div class='footer'><em>© Alexie Sousa 2016</em></div>
	</div>
</div>

<!--<script src='js/main.js'></script>-->
</body>

</html>