<!DOCTYPE html>
<html>

<head>
	{{> head}}
</head>

<body>

<div class='main'>
	{{> navbar}}
	<div class="container">
		<div class="title-container">
			<img src='../images/me.png' class='title'/>
			<div class='scroll-direction'>
				<img src='../images/down-arrows.png' class='arrow'/>
			</div>
		</div>

		<div class="proj-container">
			<div class='proj-container-bg' id='about-bg'></div>
			<div class='proj-container-contents' id='proj1-contents'>
			<p>Hello hello! Welcome to my little portfolio. My full name is not so little, however, so I prefer the name Alexie Sousa. Art, apples, a cappella and alpacas are some of my favorite things and I have such a sweet tooth that I wonder why I haven't gotten more cavities by now. I'm well versed in cartoon illustration and Adobe Photoshop. I have experience working with Adobe Illustrator, Adobe After Effects, Adobe InDesign, and Autodesk Maya. As for coding, I'm all about the frontend, with a focus in UX/UI. I am interested in pursuing a career in graphic design and web development. Feel free to shoot me a message if you have any questions or comments! Thanks for popping by for a peak at my portfolio.</br></br>
			Cheers!</br>
			Alexie</p></br></br>
			<p>Email: alexie828@gmail.com</p>
			</div>
		</div>
		<div class='footer'><em>© Alexie Sousa 2016</em></div>
	</div>
</div>

<!--<script src='js/main.js'></script>-->
</body>

</html>