<!DOCTYPE html>
<html>

<head>
	{{> head}}
</head>

<body>

<div class='main'>
	{{> navbar}}
	<div class="container">
		<div class="title-container">
			<img src='../images/name.png' class='title'/>
			<div class='scroll-direction'>
				<img src='../images/down-arrows.png' class='arrow'/>
			</div>
		</div>

		<div class="proj-container">
			<div class='proj-container-bg' id='color-lilac'></div>
			<div class='proj-container-contents' id='proj1-contents'>
				<img src='../images/proj1-prev.png' class='proj-prev'/>
				<h1>CREEPING DEADLIONS</h1>
				<h4><em>Illustration, UI Design and Implementation</em></h4>
				<p>Creeping Deadlions is the culmination of a quarter-long project in Human-Computer Interaction. Our team's focus was designing an app that helped users break down their large workloads into bite-sized tasks with a gamification aspect to make the experience more enjoyable.</p></br>
				<a href='proj1' class='button'>Learn More</a>
			</div>
		</div>
		<div class="proj-container">

			<div class='proj-container-bg' id='color-teal'></div>
			<div class='proj-container-contents' id='proj2-contents'>
				<img src='../images/proj2-prev.png' class='proj-prev'/>
				<h1 class='title-ontop'>MEOWSIC</h1>
				<h4><em>UX/UI Design</em></h4>
				<p>For a study in information architecture and usability, my team and I designed a music app with a focus on playlist creation. While not implemented, we designed a set of wireframes and created a prototype in Invision that could be navigated through.</p></br>
				<a href='proj2' class='button'>Learn More</a>
			</div>
		</div>
		<div class="proj-container">

			<div class='proj-container-bg' id='color-seagreen'></div>
			<div class='proj-container-contents' id='proj3-contents'>
				<img src='../images/proj3-prev.png' class='proj-prev'/>
				<h1 class='title-ontop'>INTEGRANT</h1>
				<h4><em>Illustration, Graphic Design, Web Page Design</em></h4>
				<p>I create image ads and landing pages with strong CTA to advertise Integrant's custom software development services on various web applications and sites, including Google and Skype.</p></br>
				<a href='proj3' class='button'>Learn More</a>
			</div>
		</div>
		<div class='footer'><em>© Alexie Sousa 2016</em></div>
	</div>
</div>

<!--<script src='js/main.js'></script>-->
</body>

</html>