<!DOCTYPE html>

<html>
<head>
	{{> head}}
</head>

<body>
<div class='main'>
	{{> navbar}}
	<div class='container'>
		<div class="proj-title-container">
			<div class='proj-title-bg'></div>
			<div class='proj-title-contents'>
				<img src='../images/meowsic-logo.png' class='proj-logo'/>
			</div>
		</div>

		<div class="proj-container">
			<div class='proj-container-bg' id='color-mint'></div>
			<div class='proj-container-contents'>
				<img src='../images/meowsic-ss1.png' class='proj-ss'/>
				<h1>RESEARCH AND COMPETITIVE ANALYSIS</h1>
				<p>If we were to design a music app that blew our competitors out of the water, we had to research them first. We conducted interviews to find our user needs and made comparative analyses of our competitors Spotify, SoundCloud, and Apple Music. For each application, we snagged three interviews and came up with a plethora of user scenarios for creation of playlists. People had many reasons for making playlists and just as many different ways of making them. We narrowed our results down to the most common cases, compared how these cases were accomplished in each application, and began our design process.</p>
			</div>
		</div>
		<div class="proj-container">
			<div class='proj-container-bg' id='color-mustard'></div>
			<div class='proj-container-contents'>
				<img src='../images/meowsic-ss2.png' class='proj-ss'/>
				<h1>WIREFRAMING THE INITAL DESIGN</h1>
				<p>Within my group of 3, each person was a user of one of our competitor's apps. As a result, we all had very differing opinions on design choices. It was interesting to see what worked well and what didn't, but also why one app didn't have one feature while another app did. It really got us thinking about how information architecture and interface design differed so much from app to app. We aimed to put together the best of three worlds into a single app, and after a lot of brainstorming, we drew up our first set of wireframes.</p>
			</div>
		</div>
		<div class="proj-container">
			<div class='proj-container-bg' id='color-apricot'></div>
			<div class='proj-container-contents'>
				<img src='../images/meowsic-ss3.png' class='proj-ss'/>
				<h1>CLEANING UP THE WIREFRAMES</h1>
				<p>We tossed around ideas for names and settled on Meowsic. After all, who doesn't love a good cat pun? With our wireframe sketches done, it was time to clean them up. After teaching my other two group members how to use Photoshop, we made a basic black-and-white prototypes of the library, search, and listing pages. Finding icons for the nav-bar was a difficult task; we didn't want to use labels so we had to choose universal and intuitive icons that people would recognize. We were only focusing on the creation and management of playlists, so we left extra features like browsing music and user profiles out of the wireframes.</p></br>
				<p>Credits for icons: Conner Shea</p>
			</div>
		</div>
		<div class="proj-container">
			<div class='proj-container-bg' id='color-redwood'></div>
			<div class='proj-container-contents'>
				<img src='../images/meowsic-ss4.png' class='proj-ss'/>
				<h1>ADDING CHARACTER</h1>
				<p>You can't name a music app "Meowsic" without the theme to back it up. We added color, photos, and plenty of cute kitty icons. Of course, there were a couple bumps in the road and we had to go back and redesign certain frames, including the library and the search. Initially, the library was going to have album covers in each circle, but scrolling was a nightmare if the user had many albums. In the redesign, we displayed the filters - Artist, Albums, Genres, Songs, Recently Played, and Likes - instead. The search page originally didn't have any filters on it; the user would have to search specific songs, artists, etc to find what they wanted. We kept that feature but also offered the same architecture as the library for easier filtering. </p></br>
				<a target='_blank' href='https://projects.invisionapp.com/m/share/SU6H676V7#/142951197' class='button'>Invision Demo</a>
			</div>
		</div>
		<div class='footer'><em>© Alexie Sousa 2016</em></div>
	</div>
</div>
</body>

</html>