<!DOCTYPE html>

<html>
<head>
	{{> head}}
</head>

<body>
	<div class='main'>
	{{> navbar}}
	<div class='container'>
		<div class="proj-title-container">
			<div class='proj-title-bg' id='color-white'></div>
			<div class='proj-title-contents'>
				<img src='../images/creepingdeadlions-logo.png' class='proj-logo'/>
			</div>
		</div>

		<div class="proj-container">
			<div class='proj-container-bg' id='color-cdblue'></div>
			<div class='proj-container-contents'>
				<img src='../images/deadlions-ss1.png' class='proj-ss'/>
				<h1>BREAK YOUR WORKLOAD DOWN INTO BITE-SIZED TASKS</h1>
				<h4><em></em></h4>
				<p>Ever struggled with the most colossal of tasks? What's the last deadline you missed just because something slipped your mind? We've all been there. Here to prevent such cat-astrophes, Creeping Deadlions is the purr-fect app to manage your daily workload. Create Missions. Break them down. Just remember, one uncrossed 'T' and your runners are deadlion kibble. But if they manage to survive, you can turn their ratty tent city into a bustling town. When you bite off more than you can chew, Creeping Deadlions will prevent deadlines from creeping up on you.</p></br>
				<a href='http://deadlions.herokuapp.com' class='button'>View App</a>
			</div>
		</div>
		<div class="proj-container">
			<div class='proj-container-bg' id='color-cdorange'></div>
			<div class='proj-container-contents'>
				<div class="proj-ss">
					<img src='../images/clawdia_happy_run.gif' class='runners'/>
					<img src='../images/deniel_happy_run.gif' class='runners'/>
					<img src='../images/charmane_happy_run.gif' class='runners'/>
					<img src='../images/jawnny_happy_run.gif' class='runners'/>
					<img src='../images/maully_happy_run.gif' class='runners'/>
					<img src='../images/roarie_happy_run.gif' class='runners'/>
				</div>
				<h1>ARTWORK AND ANIMATION</h1>
				<p>All of the artwork in the game was designed and drawn by me. I valued cultural diversity, something a lot of games are lacking, so I tried to have as diverse a cast of runners as possible. I also animated all the characters (and the deadlion!) to add more fun to the app. Of course, the village artwork was also my doing.</p>
			</div>
		</div>
		<div class="proj-container">
			<div class='proj-container-bg' id='color-black'></div>
			<div class='proj-container-contents'>
				<img src='../images/vimg_notInsigTownTavern.gif' class='proj-ss shadow'/>
				<h1>USER INTERFACE FOR A GREAT USER EXPERIENCE</h1>
				<p>My artwork also extends to the user interface. I designed the layout and drew all the elements in the interface, as well as laid out pages that didn't require artwork. I also had a hand in the implementation of the interface. During development, we completely revamped the mission creation page, which I designed in both appearance and implementation.</p>
			</div>
		</div>
		<div class='footer'><em>© Alexie Sousa 2016</em></div>
	</div>
</body>

</html>