<!DOCTYPE html>

<html>
<head>
	{{> head}}
</head>

<body>
	<div class='main'>
	{{> navbar}}
	<div class='container'>
		<div class='proj-title-container opaque-white'>
			<img src='../images/integrant.jpg' class='proj-logo'/>
		</div>
		<div class='proj-trans-container'>
			<img src='../images/CalculatorPrev1.jpg' class='proj-ss shadow'/>
			<h1>OUTSOURCING CALCULATOR</h1>
			<h4><em>Web Design/UI</em></h4>
			<p>Integrant is very focused on customer satisfaction and wants all potential clients and current clients to stay up to date on all matters concerning their partnership. Finances are important, and Integrant developed a calculator to figure out how much software will cost to develop. I wireframed the layout of the calculator and a member of their web development team implemented my design. In the design, I kept everything within the viewport of the browser so once the user enters all their information, they can see the calculated results immediately.</p>
		</div>
		<div class='proj-opaque-container opaque-white'>
			<img src='../images/ofmw.png' class='proj-ss'/>
			<h1>ONE FOR MY WORLD - HACKATHON PROJECT</h1>
			<h4><em>Graphic Design | Video-editting</em></h4>
			<p>Google held an online hackathon last year and a web development team from Integrant entered. I joined as a graphic designer. I designed the logo for the project and also created a video in Adobe After Effects to advertise the purpose of the app. I made storyboards for the entire video and used copy given by my team to put together the final product.</p></br>
			<a href='https://www.youtube.com/watch?v=lqEo3ZXlfwI' class='button'>View Video</a>
		</div>
		<div class='proj-trans-container'>
			<img src='../images/landingpage.jpg' class='proj-ss shadow'/>
			<h1>LANDING PAGES</h1>
			<h4><em>Web/Graphic Design</em></h4>
			<p>Integrant has a library of knowledge pieces that they share on their website. To get users more interested in the content, I was asked to create landing pages for these premium content pieces. I created them with minimalistic design in mind to not divert the user's attention, but also strong CTA to make them want to sign up for more information and get in contact with Integrant.</p>
		</div>
		<div class='footer'><em>© Alexie Sousa 2016</em></div>
	</div>
</body>

</html>