<!DOCTYPE html>

<html>
<head>
	{{> head}}
</head>

<body>
	<div class='main'>
	{{> navbar}}
	<div class='container'>
		<div class='proj-title-container opaque-white'>
			<img src='../images/meowsic-logo.png' class='proj-logo'/>
		</div>
		<div class='proj-trans-container'>
			<img src='../images/meowsic-ss2.png' class='proj-ss'/>
			<h1>RESEARCH AND COMPETITIVE ANALYSIS</h1>
			<h4><em>Duration: 2 weeks</em></h4>
			<p>Research is one of the most important parts of the app development process and it's something that's on-going throughout the whole process. If we were to design a music app that blows the others out of the market, we had to see what our users really wanted as well as what is working and what isn't. Need-finding through interviews and comparative analysis of competitors were two of the forms of research we conducted. The competitors we focused on were Spotify, SoundCloud, and Apple Music. We snagged three interviews per application and came up with a plethora of user scenarios for usage of music apps. People had many reasons for making playlists and everyone had very different ways of making them. We narrowed them down into the most common cases and compared how those cases can be accomplished through each application. Once we had our research in a row, it was time to design!</p>
		</div>
		<div class='proj-opaque-container opaque-white'>
			<img src='../images/meowsic-ss2.png' class='proj-ss'/>
			<h1>WIREFRAMING THE INITAL DESIGN</h1>
			<h4><em>Duration: 1 day</em></h4>
			<p>Funnily enough, within my group of 3, each person was a user of one of our competitor's apps. As a result, we all had very differing opinions and design choices. But that was part of the fun, being able to brainstorm and talk through design ideas. It was interesting to see what worked well and what didn't, but also why one app didn't have one feature while another app did. It really got us thinking about design, but also how information architecture differed so much from app to app. We aimed to put together the best of three worlds into a single app, and with that in mind, we drew up our first set of wireframes.</p>
		</div>
		<div class='proj-trans-container'>
			<img src='../images/meowsic-ss3.png' class='proj-ss'/>
			<h1>CLEANING UP THE WIREFRAMES</h1>
			<h4><em>Duration: 1 day</em></h4>
			<p>With our wireframe sketches done, it was time to clean it up. I taught my other two group members how to use Photoshop so we could design some really nice frames. We tossed around ideas for names and settled on Meowsic. After all, who doesn't love a good cat pun? (Clearly I do, if my other project, Creeping Deadlion, was any indication of that) We started off with a black-and-white prototype to get the basic layout done. We didn't draw our own icons for this app, but finding icons for the nav-bar was still a difficult task since we didn't want to use labels, so anything we chose had to be universal and intuitive enough that people would know what they were. We laid out a basic schema for the library, search, and listing page. We were only focusing on the creation and management of playlists, so while we had extra features like browsing music and user profiles, we left those features out of wireframes.</p>
		</div>
		<div class='proj-opaque-container opaque-white'>
			<img src='../images/meowsic-ss4.png' class='proj-ss'/>
			<h1>ADDING CHARACTER</h1>
			<h4><em>Duration: 3 days</em></h4>
			<p>You can't name a music app "Meowsic" without the theme to back it up. We added color, photos, and plenty of cute kitty icons all over for an aesthetically pleasing appearance. Of course, no design process is ever smooth sailing; we had a couple bumps in the road and had to go back and redesign certain frames. Two of these were the library and the search. Initially, the library was going to have each album in each circle, but that created the problem that it would take too long to scroll through if the user had many albums. We display the information architecture instead so users can filter out their searches by Artist, Albums, Genres, Songs, Recently Played, or Likes. The search page originally didn't have any filters on it, and the user would have to search specific songs, artists, etc to find what they want. We kept that feature, but also offered the same architecture as the library for easier filtering. We put together a clickable progression of our frames in Invision to show the process of how to create and delete playlists.</p>
		</div>
		<div class='footer'><em>© Alexie Sousa 2016</em></div>
	</div>
</body>

</html>