<!DOCTYPE html>

<html>
<head>
	{{> head}}
</head>

<body>
<div class='main'>
	{{> navbar}}
	<div class='container'>
		<div class="proj-title-container">
			<div class='proj-title-bg' id='color-white'></div>
			<div class='proj-title-contents'>
				<img src='../images/integrant.png' class='proj-logo'/>
			</div>
		</div>

		<div class="proj-container">
			<div class='proj-container-bg' id='color-intorange'></div>
			<div class='proj-container-contents'>
				<img src='../images/CalculatorPrev1.jpg' class='proj-ss shadow'/>
				<h1>OUTSOURCING CALCULATOR</h1>
				<h4><em>UX/UI Design</em></h4>
				<p>Integrant is very focused on customer satisfaction and strives to have clear communication with their partners, both current and prospective. They developed a calculator to lay out development costs and I designed a high-fidelity wireframe of the calculator's layout. In the design, I kept everything within the viewport of the browser so once the user enters all their information, they can see the calculated results immediately.</p>
			</div>
		</div>
		<div class="proj-container">
			<div class='proj-container-bg' id='color-intred'></div>
			<div class='proj-container-contents'>
				<img src='../images/ofmw.jpg' class='proj-ss shadow'/>
				<h1>ONE FOR MY WORLD - HACKATHON PROJECT</h1>
				<h4><em>Graphic Design | Video-editting</em></h4>
				<p>Google held an online hackathon last year and an Integrant web development team developed a social media app for crowdfunding charity causes. I joined as a graphic designer, creating the project logo and a video in Adobe After Effects to promote the app. I storyboarded the entire video using copy given by my team to put together the final product.</p></br>
				<a target='_blank' href='https://www.youtube.com/watch?v=lqEo3ZXlfwI' class='button'>View Video</a>
			</div>
		</div>
		<div class="proj-container">
			<div class='proj-container-bg' id='color-intblue'></div>
			<div class='proj-container-contents'>
				<img src='../images/landingpage.jpg' class='proj-ss shadow'/>
				<h1>LANDING PAGES</h1>
				<h4><em>Web/Graphic Design</em></h4>
				<p>Integrant has a library of knowledge pieces that they share on their website. To garner interest in the content without unnecessarily diverting the user's attention, I designed landing pages with minimalistic design and clear CTA to encourage immediate contact with Integrant.</p></br>
				<a target='_blank' href='https://alexiesousa.carbonmade.com/projects/5958111' class='button'>See Full Portfolio</a>
			</div>
		</div>
		<div class='footer'><em>© Alexie Sousa 2016</em></div>
	</div>
</div>
</body>

</html>