<!DOCTYPE html>

<html>
<head>
	{{> head}}
</head>

<body>
<div class='main'>
	{{> navbar}}
	<div class='container'>
		<div class="proj-title-container">
			<div class='proj-title-bg'></div>
			<div class='proj-title-contents'>
				<img src='../images/creepingdeadlions-logo.png' class='proj-logo'/>
			</div>
		</div>

		<div class="proj-container">
			<div class='proj-container-bg' id='color-aqua'></div>
			<div class='proj-container-contents'>
				<img src='../images/deadlions-ss1.png' class='proj-ss'/>
				<h1>BREAK YOUR WORKLOAD DOWN INTO BITE-SIZED TASKS</h1>
				<p>Ever struggled with the most colossal of tasks? When was the last time you missed a deadline just because something slipped your mind? We've all been there. Here to prevent such cat-astrophes, Creeping Deadlions is the purr-fect app to manage your daily workload. Create Missions. Break them down. Just remember, one uncrossed 'T' and your runners are deadlion kibble. But if they manage to survive, you can turn their ratty tent city into a bustling town. When you bite off more than you can chew, Creeping Deadlions will prevent deadlines from creeping up on you.</p></br>
				<a target='_blank' href='http://deadlions.herokuapp.com' class='button'>View App</a>
			</div>
		</div>
		<div class="proj-container">
			<div class='proj-container-bg' id='color-mustard'></div>
			<div class='proj-container-contents'>
				<img src='../images/deadlion-chase.gif' class='proj-ss shadow'/>
				<img src='../images/vimg_notInsigTownTavern.gif' class='proj-ss shadow'/>
				<h1>ARTWORK AND ANIMATION</h1>
				<p>All of the artwork in the application was illustrated by me. Variety was something I valued, so I designed a racially diverse cast of runners. I also animated all of the artwork to give the users a treat while using the app.</p>
			</div>
		</div>
		<div class="proj-container">
			<div class='proj-container-bg' id='color-apricot'></div>
			<div class='proj-container-contents'>
				<img src='../images/cd-ss3a.jpg' class='proj-ss shadow'/>
				<img src='../images/cd-ss3b.jpg' class='proj-ss shadow'/>
				<img src='../images/cd-ss3c.jpg' class='proj-ss shadow'/>
				<img src='../images/cd-ss3d.jpg' class='proj-ss shadow'/>
				<h1>AN INTERFACE THAT PROVIDES A GREAT EXPERIENCE</h1>
				<p>The interface saw many changes before its final product. I designed the interface to be as simple as possible, opting for four navigation buttons at the bottom to toggle between each page. Mission creation is the main purpose of the app, so it was important enough to have its own button at the top. Even the tech-unsavy was able to navigate our app with little problem.</p>
			</div>
		</div>
		<div class='footer'><em>© Alexie Sousa 2016</em></div>
	</div>
</div>
</body>

</html>