html {
	background: url(../images/checkerBG.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	overflow: hidden;
	font-family: 'Libre Baskerville', serif;
}

a {
	color: #181317;
	text-decoration: none;
}

a:hover {
	color: #60545e;
	text-decoration: none;
}

#about-bg {
	background-color: #f1a39e;
}

.arrow {
	max-width: 70%;
	max-height: 80%;
	display: block;
	padding-top: 25px;
	padding-bottom: 10px;
	margin: auto;
}

.button {
	background-color: #181317;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 2vmin;
	color: #FFFFFF;
	padding: 5px 20px 5px 20px;
	text-align: center;
	text-decoration: none;
	overflow: visible;
	border: none;
	cursor: pointer;
	max-height: 10vh;
	display: inline-block;
	z-index: 1;
}

#color-apricot {
	background-color: #deb99b;
}

#color-black {
	background-color: #000000;
}

#color-cdblue {
	background-color: #143659;
}

#color-cdorange {
	background-color: #f37651;
}

#color-dust {
	background-color: #a4cece;
}

#color-intblue {
	background-color: #23466f;
}

#color-intorange {
	background-color: #f26532;
}

#color-intred {
	background-color: #a21d21;
}

#color-lilac {
	background-color: #de9ef1;
}

#color-lavendar {
	background-color: #ceaacc;
}

#color-mint {
	background-color: #b5ccab;
}

#color-mustard {
	background-color: #e0d29c;
}

#color-redwood {
	background-color: #cfa8a8;
}

#color-seagreen {
	background-color: #56ce95;
}

#color-teal {
	background-color: #56cec5;
}

#color-white {
	background-color: #FFFFFF;
}

.container {
	margin: auto;
	position: relative;
	height: 100%;
	overflow: auto;
}

.footer {
	text-align: center;
	font-size: 120%;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	padding: 10px 10px 10px 10px;
}

h1 {
	font-size: 4vmin;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	position: relative;
}

h4 {
	font-size: 2.5vmin;
}

.main {
	text-align: center
	overflow: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.navbar {
	position: absolute;
	z-index: 1;
	list-style-type: none;
	right: 3%;
	padding: 0;
}

.navbar li {
	display: inline-block;
	margin: 0px 10px 0px 10px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 130%;
}

p {
	display: inline-block;
	max-width: 70%;
	font-size: 2vmin;
}

.proj-container {
	text-align: center;
	height: 100%;
}

.proj-container-bg {
	height: 100%;
	opacity: 0.4;
	position: relative;
}

.proj-container-contents {
	text-align: center;
	margin-top: 0px;
	position: relative;
	top: -90%;
	height: 40vh;
}

.proj-logo {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	max-width: 90%;
	max-height: 45vh;
	margin: auto;
}

.proj-prev {
	max-width: 90%;
	max-height: 45vh;
	height: auto;
}

.proj-ss {
	position: relative;
	max-width: 90%;
	max-height: 40vh;
	margin: 0 auto;
}

.proj-title {
	text-align: right;
	max-width: 50%;
	top: 10%;
	right: 200px;
}

.proj-title-bg {
	height: 100%;
	opacity: 0.5;
	position: relative;
}

.proj-title-container {
	height: 60%;
	margin-top: 60px;
	position: relative;
}

.proj-title-contents {
	height: 100%;
}

.runners {
	max-width: 15%
}

.scroll-direction {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -95%);
	max-width: 5%;
	height: auto;
	border: 2px dashed #181317;
}

.shadow {
	box-shadow: 0px 0px 8px #464646;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90%;
	max-height: 50%;
	height: auto;
}

.title-container {
	height: 100%;
}


.title-content {
	position: relative;
	float: right;
	margin-right: 200px;
	top: 10%;
}

.title-content p {
	font-size: small;
}

